.nav-icon-list {
    display: flex;
}

.nav-link {
    margin: 0 !important;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #141719 !important;
    opacity: 0.7;
}

.focus {
    color: #000;
    opacity: 1;
}

.nav-list {
    width: 500px !important;
    justify-content: space-between !important;
}

.space-between {
    justify-content: space-between;
}

.col-haft {
    overflow: hidden;
}

.banner-content {
    color: #fff;
    margin-left: 3rem;
    width: 100%;
}

.banner-content h1 {
    line-height: 4.8rem;
    font-size: 8rem;
}

.banner-description {
    margin-top: 3rem;
    font-size: 1.9rem;
}

.banner-more {
    font-size: 3rem;
}

.section-title {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #025939;
    font-size: 5rem;
}

.product-item {
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    border: 3px solid #EC1C57;
    border-radius: 30px;
}

.product-description {
    margin-left: -3rem;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-bottom: 5rem;
    text-align: left;
}

.product-name {
    font-size: 2.2rem;
}

.product-price {
    font-size: 3rem;
}

.btn-more {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-top: -2rem;
}

.product-btn button {
    background-color: #025939;
    font-size: 2.2rem;
    border-radius: 18px;
    color: #fff;
    border: none;
    padding: 0.3rem 1rem;
}

.product-img {
    width: 467px;
}

.product-img img {
    width: 100%;
    height: 467px;
}

.banner {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.banner img {
    width: 100%;
}

.banner span {
    font-weight: 400;
    margin-bottom: 5rem;
    margin-top: 1rem;
    display: inline-block;
    width: 60%;
    color: #005A39;
    font-size: 1.5rem;
}


#footer {
    background-color: #005A39;
    padding: 1.5rem 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.footer-contact {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-contact img {
    margin-top: -1.8rem;
}

.footer-contact-item {
    font-size: 0.875rem;
    margin-top: 0.55rem;
}

.footer-break {
    width: 100%;
    border: 1px solid #fff;
    margin: 2rem 0;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
}

.footer-social img {
    width: 1.25rem;
    margin-left: 2rem;
}

.col-haft-img {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.col-haft-img img {
    width: 100%;
    height: fit-content;
  }

  .collapse  {
    justify-content: flex-end;
  }

  .section-mobile {
    text-align: center;
    display: none;
  }

  .title-mobile {
    display: none;
  }


